<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart House</title>
    
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="navbar">
        {% if current_user.is_authenticated %}
        <form id="logout-form" action="{{ url_for('views.logout') }}" method="POST">
            <button type="submit" id="logout" class='logout-button'>Wyloguj ({{ current_user.username }})
            </button>
        </form>
        {% endif %}
        <button onclick="window.location.href = '{{ url_for("views.home") }}';" class="back-to-main-button">Strona główna</button>
        <button onclick="goBack()"  class="back-button">Powrót</button>
    </div>
    <div class="dashboard-page">
        <h1>Diody LED + Lampa</h1>
        <div class="container search-results">
            <div class="container-fluid search-container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 devices-list">
                        <h1 class="devices-h1">Dioda nr 1</h1>
                        <button onclick="toggleLEDState('dioda_1')"><div id="ledStatus1">Stan</div></button>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 devices-list">
                        <h1 class="devices-h1">Dioda nr 2</h1>
                        <button onclick="toggleLEDState('dioda_2')"><div id="ledStatus2">Stan</div></button>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 devices-list">
                        <h1 class="devices-h1">Dioda nr 3</h1>
                        <button onclick="toggleLEDState('dioda_3')"><div id="ledStatus3">Stan</div></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 devices-list">
                        <h1 class="devices-h1">Lampa</h1>
                        <button onclick="toggleLEDState('lampa_1')"><div id="lampStatus1">Stan</div></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-page">


    <script>
        function goToHome() {
            window.location.href = '{{ url_for("views.home") }}';
        }

        function goBack() {
            window.history.back();
        }

// Funkcja do zmiany stanu diody
function toggleLEDState(deviceName) {
            fetch('/toggle_led_state', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ device_name: deviceName })
            })
        }

function checkLEDStatus() {
    fetch('/check_led_status') // Wysyła żądanie do serwera
    .then(response => response.json()) // Przetwarza odpowiedź jako JSON
    .then(data => {
        // Aktualizuje status diod LED na stronie
        updateLEDStatus('ledStatus1', data.led_status_1);
        updateLEDStatus('ledStatus2', data.led_status_2);
        updateLEDStatus('ledStatus3', data.led_status_3);
        updateLEDStatus('lampStatus1', data.lamp_status_1);
    })
    .catch(error => console.error('Błąd podczas pobierania statusu diod LED:', error));
}

// Funkcja do aktualizacji statusu diod LED na stronie
function updateLEDStatus(elementId, status) {
    const ledStatusElement = document.getElementById(elementId);
    if (status) {
        ledStatusElement.innerText = 'ON'; 
        ledStatusElement.style.color = "#00f811"; 
    } else {
        ledStatusElement.innerText = 'OFF';
        ledStatusElement.style.color = 'black'; 
    }
}

// Wywołuje funkcję checkLEDStatus co sekundę
setInterval(checkLEDStatus, 1000); // Aktualizuje co sekundę

    </script>

    <script crossorigin="anonymous" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
