<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart House</title>
    <!-- Bootstrap CSS -->
 <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
 integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
 rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  
</head>
<body>
   
     
        <div class="navbar">
            {% if current_user.is_authenticated %}
            <form id="logout-form" action="{{ url_for('views.logout') }}" method="POST">
                <button type="submit" id="logout" class='logout-button'>Wyloguj ({{ current_user.username }})
                </button>
            </form>
            {% endif %}
    </div>
    <div class="welcome-page">
        <h1>Smart House</h1>
        
        
   
        <div class="create-account">
            <form id='create-account-form' class="create-account-form"
                  action="{{ url_for('views.register') }}" method="post">
                <h1 style="font-size: 30px;">Register </h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissible show fade" role="alert">
                    {{ message }}
               </button>
                </div>
            {% elif category == 'success' %}
                <div class="alert alert-success alert-dismissible show fade" role="alert">
                    {{ message }}
                 </button>
                </div>
            {% elif category == 'neutral' %}
                <div class="alert alert-secondary alert-dismissible show fade" role="alert">
                    {{ message }}
            </button>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endwith %}
                <label>Nazwa użytkownika:
                {{ register_form.username(class="username form-control", id='username-register') }}
                <br>
                <label>Hasło:
                {{ register_form.password(class="password form-control", id='password-register') }}

                <br>
                <label> Confirm password:
                {{ register_form.confirm_password(class="password form-control", id='confirm-password-register') }}
                <br>

                {{ register_form.submit(class="create-account-btn btn btn-success") }}
                {{ login_form.csrf_token }}
            </form>
        </div>
     

  
      
        <script crossorigin="anonymous" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
